<h1>Extras New Template</h1>

<%= render partial: 'common_templates/example_partial' %>

I want a peace of view code(HTML) to be used in a few/many templates,
then I can use partials.
Partials are reusable templates.